[defaults]
inventory = hosts/inventory_aws_ec2.aws_ec2.yaml
remote_user = ubuntu
host_key_checking = False
timeout = 30
forks = 5
connection = ssh

[inventory]
enable_plugins = amazon.aws.aws_ec2, yaml, ini, auto

[ssh_connection]
ssh_args = -o ProxyCommand="aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"
